*{ 
  margin : 0;
  padding: 0;
  font-family: Helvetica;
  scroll-behavior: smooth;
}

@media screen and (max-width: 950px)
{
  .menu{
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .menu button{
    display: none;
  }

  .sobre{
    justify-content: center;
   
  }
}

@media screen and (min-width: 950px)
{
  .menu{
  padding: 20px;  
  display: grid;  
  grid-template-columns: 15% 15% 40% 15% 15%;  
  justify-content: center;
  align-content: center;  
  text-align: center;
  align-items: center; 
  }

  .menu button{
    background-color: transparent;
    color: gray;
    margin-left: 20px;
    /*transition: 0.8s ease-in-out;*/ 
    border: 1px solid black;
    cursor:pointer;
    font-size: 2rem;
    font-family: sans-serif;

    height: 5rem;
  }

  .menu button:hover{
    color: rgb(243, 108, 59);
    animation-name: menuanimation;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: 3s;
    
  }

  .divlogo{
    text-align: center;
    align-content: center;
  }

  .logo{
    width: 40%;
    cursor: pointer;
  }

  .sobre{
    margin: 3% 0 0 10%;
  }
  
}

.top{
  height: 90vh;
  width: 100%;
  background-color: black;  
  background-image: url("./assets/bgtop.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  border-bottom: 5px solid rgb(243, 108, 59);
}



.sobre{
  display: flex;
  flex-wrap: wrap;
  height: 60vh;
  align-items: center;  
  
}

.sobre img{
    width: 400px;
  }

.textorange{
  font-size: 2rem;
  color: rgb(243, 108, 59);
}
.textosquemsou{ 
  display: flex;
  justify-content:  center;  
  flex-direction: column;   
  margin-left: 25px;
  width: 350px;
  color: rgb(184, 183, 183);
  font-family: 'Times New Roman', Times, serif;
  
}

.habilidadesbox{
  margin-top: 20px;
  position: relative;
  gap: 3%;  
  background-color: transparent;
  width: 90vw;
  height: 10%;
  display: flex;
  align-content: space-around;
  justify-content: center;
  
}

.habilidadesbox ol{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;  
}

.projetos{
  top: -50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  height: 94vh;
  flex-direction: column;
}

.projetos H1{
  margin: 50px 0 50px 0;
  font-size: 3rem;
}


.container-projetos {
  width: 80%;
  height: 640px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;  
  -webkit-overflow-scrolling: touch;
}

.container-projetos::-webkit-scrollbar {
  display: none;
  
}

.container-projetos .btn-next{
  position: absolute;
  right: 10%;
  top:60%;
  height: 80px;
  background-color: rgba(46, 46, 46, 0.719);
  color: white;
  border: none;
  z-index: 2;
}

.container-projetos .btn-back{
  position: absolute;
  left: 10%;
  top:60%;
  height: 80px;
  background-color: rgba(46, 46, 46, 0.719);
  color: white;
  border: none;
  z-index: 2;
 }

.item {
  width: 360px;
  flex-shrink: 0;
  height: 640px;
  
}

.item-box{
  position: relative;
}


.item-information{
  position: absolute;
  background-color: transparent;
  width: 360px;
  height: 635px;
  top: 0;
  z-index: 1;
  opacity: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;    
}


.item-information img{
  width: 30px;  
  margin: 0 5px 40px 5px;  
}

.item-information p{
  width: 80%;
  text-align: justify;
  margin-bottom: 30px;
  margin-top: 0;
}

.item-information:hover{
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.596);
}

.item-information a{
  text-decoration: none;
  margin-bottom: 40px;
  color: white;
  border: 1px solid rgb(243, 108, 59);
  width: 120px;
  height: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
  transition: 1s ease-in-out;
}

.item-information a:hover{
  border: 1px solid rgb(5, 4, 4);
  background-color: rgb(224, 75, 21);
  color: black;
  
}

.contato{
  height: 50vh;
  background-color: rgb(31, 30, 30);
  padding-top: 20px ;
  justify-content: start;
  gap: 25px;
  align-items: center;
  display: flex;
  flex-direction: column; 
  border-top: 5px solid rgb(243, 108, 59);
  color: gray;
}

.contato H2{
  font-size: 3rem;
  color: gray;  
}

.contato .tel-and-mail{
  width: 300px;
  border: 2px solid rgb(243, 108, 59);
  padding: 15px;
  color: whitesmoke;
}

.boxsociais{
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.boxmenuinferior{
  width: 80%;
  border-top: 1px solid whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding-top: 20px;
}
.boxmenuinferior button{
  width: 100px;
  background-color: transparent;
  color: gray;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.boxmenuinferior button:hover{
 color: rgb(243, 108, 59);
}

.footer{
  height: 50px;
  color: gray;
  text-align: center;
  background-color: black;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}


@keyframes menuanimation {
  25% {border-top: 2px solid rgb(243, 108, 59);}
  50% {border-right:2px solid rgb(243, 108, 59);}
  75% {border-bottom: 2px solid rgb(243, 108, 59);}
  100% {border-color:black black black rgb(243, 108, 59);
      border-left: 2px solid; 
  }
}
