*{ 
  margin : 0;
  padding: 0;
  font-family: Helvetica;
  scroll-behavior: smooth;
}

@media screen and (max-width: 950px)
{
  .menu{
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .menu button{
    display: none;
  }

  .sobre{
    justify-content: center;
   
  }
}

@media screen and (min-width: 950px)
{
  .menu{
  padding: 20px;  
  display: grid;  
  grid-template-columns: 15% 15% 40% 15% 15%;  
  justify-content: center;
  align-content: center;  
  text-align: center;
  align-items: center; 
  }

  .menu button{
    background-color: transparent;
    color: gray;
    margin-left: 20px;
    /*transition: 0.8s ease-in-out;*/ 
    border: 1px solid black;
    cursor:pointer;
    font-size: 2rem;
    font-family: sans-serif;

    height: 5rem;
  }

  .menu button:hover{
    color: rgb(243, 108, 59);
    animation-name: menuanimation;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: 3s;
    
  }

  .divlogo{
    text-align: center;
    align-content: center;
  }

  .logo{
    width: 40%;
    cursor: pointer;
  }

  .sobre{
    margin: 3% 0 0 10%;
  }
  
}

.top{
  height: 90vh;
  width: 100%;
  background-color: black;  
  background-image: url("./assets/bgtop.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}



.sobre{
  display: flex;
  flex-wrap: wrap;
  height: 60vh;
  align-items: center;  
  
}

.sobre img{
    width: 400px;
  }

.textorange{
  font-size: 2rem;
  color: rgb(243, 108, 59);
}
.textosquemsou{ 
  display: flex;
  justify-content:  center;  
  flex-direction: column;   
  margin-left: 25px;
  width: 350px;
  color: rgb(184, 183, 183);
  font-family: 'Times New Roman', Times, serif;
  
}

.habilidadesbox{
  top: -30px;
  position: relative;
  gap: 3%;  
  background-color: transparent;
  width: 90vw;
  height: 10%;
  display: flex;
  align-content: space-around;
  justify-content: center;
  
}

.habilidadesbox ol{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  
}

.projetos{
  display: flex;
  align-items: center;
  justify-content: start;
  height: 90vh;
  flex-direction: column;
}


.projetos .boxprojetos{
  margin-top: 100px;
  width: 90vw;
  display: flex; 
  max-width: 80vw;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  cursor: pointer;
}

.projetos H1{
  margin-top: 100px;
}

.projectItem{ 
  border-radius: 10px;
  text-align: center;
  background-color: black;
  width: 450px;
  height: 300px;
  overflow: hidden;

}

.mensic img{
  height: 100%;
  
}

.fisc img{
  height: 150%;
}

.bymovie img{
  width: 100%;
}

.contato{
  height: 90vh;
  background-color: rgb(43, 42, 42);
}

@keyframes menuanimation {
  25% {border-top: 2px solid rgb(243, 108, 59);}
  50% {border-right:2px solid rgb(243, 108, 59);}
  75% {border-bottom: 2px solid rgb(243, 108, 59);}
  100% {border-color:black black black rgb(243, 108, 59);
      border-left: 2px solid; 
  }
}
