
.animate-show{
    opacity: 0;
    transition: 1s;
}

.columnReverse{
    flex-direction:column-reverse ;
}

.show{
    animation: 1s forwards show;
}

@keyframes show{
    0% {opacity: 0;}
    100% {opacity: 1;}    
  }